body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.site {
    width: 100%;
    background-color: white;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;

}

.title {
    color: #4154F1;
    font-size: 20px;
    margin-top: 120px;
    font-weight: 600;
    margin-bottom: 0;
}

.slogan {
    color: #012970;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 90%;
    margin-top: 20px;
}

.leaders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 20px;
    padding: 0 20%;
}

.leader {
    padding: 10px;
    border-radius: 51px;
    box-shadow: 0px 0px 69.2px -3px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    overflow: hidden;
    border-radius: 27px;
    background-color: #D9D9D9;
}

h1 {
    font-weight: 800;
    color: var(--navy);
    font-size: 30px;
    margin: 0;
}

h2 {
    color: #4154F1;
    font-size: 30px;
    margin-top: 10px;
}

.desc {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
}

.icons {
    display: flex;
    align-items: left;
    margin-left: 20px;
}

.icon {
    height: 45px;
    width: 43px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
}

.footer {
    margin-top: 150px;
    width: 1920px;
    overflow: visible;
    object-fit: cover;
}

.leader img {
    max-height: 300px;
    margin-bottom: 10px;
}